/*Colors*/
$primary-color: #637f83;
$primary-color-dark: #597275;
$secondary-color: #e4551d;
$text-color: #959494;
$text-color-light: #b5c7c9;
$contrast-color: #fff;

/*Fonts*/
$main-font: 'Source Sans Pro', sans-serif;