.footer {
  background: $primary-color;
  text-align: center;
  padding:35px 10px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  color: $contrast-color;
  line-height: 24px;

  a {
    color: $contrast-color;
    text-decoration: none;
  }
}