.services {
  padding: 40px 0 0 0;
  text-align: center;
}

.services-list-wrap {
  background: #f6f6f6;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: stretch;
  margin: 38px 0 0 0;
}

.services-list__item {
  width: 25%;
  padding: 60px 40px;
  border-right: 1px solid #d5d5d5;

  &:last-child {
    border-right: 0;
  }
}

.services-list__icon {
  color: $secondary-color;
  font-size: 64px;
  margin-bottom: 32px;
  text-align: center;
}

.services-list__title {
  margin: 0 0 22px 0;
}

.services-list__text {
  margin-bottom: 26px;
  text-align: center;
}

.services-list__button {
  border-radius: 5px;
  background: $primary-color;
  color: $contrast-color;
  cursor: pointer;
  display: inline-block;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 900;
  padding: 10px 16px;
  text-decoration: none;
}